<a href="https://colab.research.google.com/github/ZeyadSabbah/TrivagoRecommenderSystem/blob/master/TrivagoFeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Feature Engineering

## Mounting to Drive

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [2]:
%cd /content/drive/My Drive/Trivago/Project/TrivagoRecommenderSystem

/content/drive/My Drive/Trivago/Project/TrivagoRecommenderSystem

## Loading Libraries & Datasets

In [3]:
!pip install cudf-cuda100
!cp /usr/local/lib/python3.6/dist-packages/librmm.so .
import os  
os.environ['NUMBAPRO_NVVM']='/usr/local/cuda-10.0/nvvm/lib64/libnvvm.so'  
os.environ['NUMBAPRO_LIBDEVICE']='/usr/local/cuda-10.0/nvvm/libdevice'

Requirement already satisfied: cudf-cuda100 in /usr/local/lib/python3.6/dist-packages (0.6.1)
Requirement already satisfied: nvstrings-cuda100 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.3.0.post1)
Requirement already satisfied: pycparser==2.19 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (2.19)
Requirement already satisfied: cffi>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (1.14.0)
Requirement already satisfied: pandas>=0.23.4 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.25.3)
Requirement already satisfied: numba<0.42,>=0.40.0 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.41.0)
Requirement already satisfied: pyarrow==0.12.1 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.12.1)
Requirement already satisfied: cython<0.30,>=0.29 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (0.29.15)
Requirement already satisfied: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from cudf-cuda100) (1.17.5)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->cudf-cuda100) (2.6.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.23.4->cudf-cuda100) (2018.9)
Requirement already satisfied: llvmlite>=0.26.0dev0 in /usr/local/lib/python3.6/dist-packages (from numba<0.42,>=0.40.0->cudf-cuda100) (0.31.0)
Requirement already satisfied: six>=1.0.0 in /usr/local/lib/python3.6/dist-packages (from pyarrow==0.12.1->cudf-cuda100) (1.12.0)

In [0]:
# import cudf 
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import timedelta
import math
import matplotlib.pyplot as plt
from datetime import datetime
import re
import random
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics.pairwise import cosine_similarity
from collections import Counter
from sklearn.preprocessing import MultiLabelBinarizer

In [0]:
item_metadata_filepath = '../../Datasets/raw_data/item_metadata.csv'
item_metadata = pd.read_csv(item_metadata_filepath)

train_filepath = '../../Datasets/clean_data/train.csv'
train = pd.read_csv(train_filepath)

## Important Dataframes Preparation

In engineer global features from the train dataset, which will be most of the cases around either clickouts or final click out examples (instances), two dataframes of them will be created.

In order to get representative global values to the items, duplicated  must be removed. Rows would not all be duplicated because of some attributes such as timestamp, reference, and step.

In [0]:
train.drop('Unnamed: 0', axis=1, inplace=True)
ClickoutDF = train[train.action_type=='clickout item']
FinalClickoutDF = train[train.action_type=='clickout item'].groupby('session_id').tail(1)
ClickoutUniqueDF = ClickoutDF.drop_duplicates(subset=['session_id', 'impressions'], keep='first')

## Item Global Features
### Number of Properties

In [0]:
item_metadata.properties = item_metadata.properties.apply(lambda x: x.split('|'))
item_metadata['NumberOfProperties'] = item_metadata.properties.apply(lambda x: len(x))
item_metadata.head()

,item_id,properties,NumberOfProperties
0,5101,"[Satellite TV, Golf Course, Airport Shuttle, C...",62
1,5416,"[Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46
2,5834,"[Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40
3,5910,"[Satellite TV, Sailing, Cosmetic Mirror, Telep...",41
4,6066,"[Satellite TV, Sailing, Diving, Cosmetic Mirro...",85

In [0]:
#getting total number of unique properties across all items
AllPropertiesList = item_metadata.properties.tolist()

AllPropertiesFlatList = []
for sublist in AllPropertiesList:
    for item in sublist:
        AllPropertiesFlatList.append(item)
        
print('Number of unique properties is', len(set(AllPropertiesFlatList)))

Number of unique properties is 157

### Items Properties Similarities
The purpose is to get cosine similarity between items. The maximum 25 items out of the list can be extracted as a dataframe and cosine similarity can be obtained in order to get the similar items to the ones the user had interacted with to be listed on the top of the list.

In [0]:
item_metadata.properties = item_metadata.properties.apply(lambda x: tuple(x))

one_hot = MultiLabelBinarizer()

properties_encoded = one_hot.fit_transform(item_metadata.properties.values.tolist())

properties_encodedDF = pd.DataFrame(properties_encoded)

#changing column names
properties_list = one_hot.classes_.tolist()
for i in range(len(properties_list)):
    properties_encodedDF = properties_encodedDF.rename(columns={i:properties_list[i]})

#creating a column of the item id to get the similarity between items
item_metadata.item_id = item_metadata.item_id.apply(lambda x: str(x))
properties_encodedDF['item_id'] = item_metadata.item_id

properties_encodedDF.head()

,1 Star,2 Star,3 Star,4 Star,5 Star,Accessible Hotel,Accessible Parking,Adults Only,Air Conditioning,Airport Hotel,...,Terrace (Hotel),Theme Hotel,Towels,Very Good Rating,Volleyball,Washing Machine,Water Slide,Wheelchair Accessible,WiFi (Public Areas),WiFi (Rooms)
0,0,0,0,1,0,1,1,0,1,0,...,1,0,0,0,0,0,0,0,1,1
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,1,0,0,0,1,1,1
2,0,0,1,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,1,1
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
4,0,0,0,1,0,1,1,0,0,0,...,1,0,1,0,1,0,0,1,1,1

In [0]:
cosine_similarity(properties_encodedDF.set_index('item_id').iloc[0:25])[0]

array([1.        , 0.69283044, 0.6024145 , 0.69419307, 0.74385528,
       0.62604751, 0.7220817 , 0.75202407, 0.72586619, 0.77491695,
       0.68469194, 0.56796183, 0.65036141, 0.7573052 , 0.68861713,
       0.73636183, 0.5528638 , 0.66628253, 0.65991202, 0.68250015,
       0.74691014, 0.756971  , 0.57473697, 0.61833711, 0.5265603 ])

It needs to be discussed for further implementation.

## Number of Times in Impressions
The purpose of this feature is to check how many times an item had been shown to users in the list.

Finding number of times an item has been mentioned in a list.

In [0]:
AllImpressionsList = ClickoutUniqueDF.impressions.apply(lambda x:x.split('|'))

AllImpressionsFlatList = []
for sublist in AllImpressionsList:
    for item in sublist:
        AllImpressionsFlatList.append(item)

InImpressionsCounter = Counter(AllImpressionsFlatList)
InImpressionsDF = pd.DataFrame.from_dict(InImpressionsCounter, orient='index').reset_index()\
                              .rename(columns={'index':'item_id', 0:'NumberInImpressions'})
InImpressionsDF.head()

   item_id  NumberInImpressions
0  3400638                  492
1  1253714                   84
2  3367857                  161
3  5100540                  179
4  1088584                  147

In [0]:
InImpressionsDF.item_id.nunique(), len(InImpressionsDF), item_metadata.item_id.nunique()

(815092, 815092, 927142)

Number of items in this dataframe is less than the number of items in item_metadata, that's because some of the items had not been mentioned in the impressions list.

In [0]:
#left joining
item_metadata = item_metadata.merge(InImpressionsDF, on='item_id', how='left')

#filling NaN values with zeros
item_metadata.NoInImpressions = item_metadata.NumberInImpressions.fillna(0)

item_metadata.head()

,item_id,properties,NumberOfProperties,NumberInImpressions
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0
1,5416,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46,63.0
2,5834,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40,157.0
3,5910,"(Satellite TV, Sailing, Cosmetic Mirror, Telep...",41,112.0
4,6066,"(Satellite TV, Sailing, Diving, Cosmetic Mirro...",85,54.0

## Number of Times in Reference
The purpose of this feature is to check how many times an item has been mentioned in the Reference attribute in the whole train set.

In [0]:
InReferencesCounter = Counter(train.reference.values.tolist())
InReferencesDF = pd.DataFrame.from_dict(InReferencesCounter, orient='index').reset_index()\
                              .rename(columns={'index':'item_id', 0:'NumberInReferences'})

InReferencesDF.head()

       item_id  NumberInReferences
0      Newtown                  16
1       666856                  26
2       109038                 253
3  Surry Hills                  21
4      1257342                  74

In [0]:
#left joining
item_metadata = item_metadata.merge(InReferencesDF, on='item_id', how='left')

#filling NaN values with zeros
item_metadata.NumberInReferences = item_metadata.NumberInReferences.fillna(0)

item_metadata.head()

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0
1,5416,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46,63.0,43.0
2,5834,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40,157.0,102.0
3,5910,"(Satellite TV, Sailing, Cosmetic Mirror, Telep...",41,112.0,96.0
4,6066,"(Satellite TV, Sailing, Diving, Cosmetic Mirro...",85,54.0,47.0

## Number of Times in Clickout
The purpose of this feature is to check how many times an item has been clicked out

In [0]:
InClickoutCounter = Counter(ClickoutDF.reference.values.tolist())
InClickoutDF = pd.DataFrame.from_dict(InClickoutCounter, orient='index').reset_index()\
                              .rename(columns={'index':'item_id', 0:'NumberAsClickout'})

InClickoutDF.head()

   item_id  NumberInClickout
0   109038                53
1  1257342                20
2  2795374                42
3  1032816                 4
4    65685                 3

In [0]:
#left joining
item_metadata = item_metadata.merge(InClickoutDF, on='item_id', how='left')

#filling NaN values with zeros
item_metadata.NumberInClickout = item_metadata.NumberInClickout.fillna(0)

item_metadata.head()

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0
1,5416,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46,63.0,43.0,6.0
2,5834,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40,157.0,102.0,12.0
3,5910,"(Satellite TV, Sailing, Cosmetic Mirror, Telep...",41,112.0,96.0,5.0
4,6066,"(Satellite TV, Sailing, Diving, Cosmetic Mirro...",85,54.0,47.0,8.0

## Number of Time in Final Clickout
The purpose of this feature is to get the number of times an item had been mentioned as a final clickout.

In [0]:
FinalClickoutDF
InFinalClickoutCounter = Counter(FinalClickoutDF.reference.values.tolist())
InFinalClickoutDF = pd.DataFrame.from_dict(InFinalClickoutCounter, orient='index').reset_index()\
                              .rename(columns={'index':'item_id', 0:'NumberAsFinalClickout'})

InFinalClickoutDF.head()

   item_id  NumberAsFinalClickout
0  1257342                      7
1  2795374                     18
2  1032816                      1
3  1320460                      1
4  3143258                     11

In [0]:
#left joining
item_metadata = item_metadata.merge(InFinalClickoutDF, on='item_id', how='left')

#filling NaN values with zeros
item_metadata.NumberAsFinalClickout = item_metadata.NumberAsFinalClickout.fillna(0)

item_metadata.head()

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout,NumberInFinalClickout,NumberAsFinalClickout
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0,4.0,4.0
1,5416,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46,63.0,43.0,6.0,2.0,2.0
2,5834,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40,157.0,102.0,12.0,1.0,1.0
3,5910,"(Satellite TV, Sailing, Cosmetic Mirror, Telep...",41,112.0,96.0,5.0,3.0,3.0
4,6066,"(Satellite TV, Sailing, Diving, Cosmetic Mirro...",85,54.0,47.0,8.0,6.0,6.0

In [0]:
item_metadata.head()

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout,NumberAsFinalClickout
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0,4.0
1,5416,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",46,63.0,43.0,6.0,2.0
2,5834,"(Satellite TV, Cosmetic Mirror, Safe (Hotel), ...",40,157.0,102.0,12.0,1.0
3,5910,"(Satellite TV, Sailing, Cosmetic Mirror, Telep...",41,112.0,96.0,5.0,3.0
4,6066,"(Satellite TV, Sailing, Diving, Cosmetic Mirro...",85,54.0,47.0,8.0,6.0

The next step would be dividing the NumberAsFinalClickout by the other 3, in order to get FinalClickout Relativity

## Final Clickout To Impressions
The purpose of this feature is to get item's rate of clicking out when listed to the user.

In [0]:
FClickoutToImpressions = item_metadata.NumberAsFinalClickout/item_metadata.NumberInImpressions
FClickoutToImpressions.head()

0    0.044944
1    0.031746
2    0.006369
3    0.026786
4    0.111111
dtype: float64

In [0]:
#adding attribute
item_metadata['FClickoutToImpressions'] = FClickoutToImpressions
item_metadata.head(1)

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout,NumberAsFinalClickout,FClickoutToImpressions
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0,4.0,0.044944

## Final Clickout To References
The purpose of this feature is to get item's rate of clicking out when it was interacted with.

In [0]:
FClickoutToReferences = item_metadata.NumberAsFinalClickout/item_metadata.NumberInReferences
FClickoutToReferences.head()

0    0.285714
1    0.046512
2    0.009804
3    0.031250
4    0.127660
dtype: float64

In [0]:
#adding attribute
item_metadata['FClickoutToReferences'] = FClickoutToReferences
item_metadata.head(1)

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout,NumberAsFinalClickout,FClickoutToImpressions,FClickoutToReferences
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0,4.0,0.044944,0.285714

## Final Clickout To Clickout
The purpose of this feature is to get item's rate of clickout when it was clicked out before.

In [0]:
FClickoutToClickout = item_metadata.NumberAsFinalClickout/item_metadata.NumberInClickout
FClickoutToClickout.head()

0    0.571429
1    0.333333
2    0.083333
3    0.600000
4    0.750000
dtype: float64

In [0]:
#adding attribute
item_metadata['FClickoutToClickout'] = FClickoutToClickout
item_metadata.head(1)

,item_id,properties,NumberOfProperties,NumberInImpressions,NumberInReferences,NumberInClickout,NumberAsFinalClickout,FClickoutToImpressions,FClickoutToReferences,FClickoutToClickout
0,5101,"(Satellite TV, Golf Course, Airport Shuttle, C...",62,89.0,14.0,7.0,4.0,0.044944,0.285714,0.571429

## Item's Average Rank
The purpose of this feature is to get item's position in the list provided to the user across the train set.  
Since the purpose is to get the average rank across the lists shown to users, an important notice which is that some sessions have different reference and click outs, which provides the same impression list. Duplicated impressions lists in each session should be dropped. (Same thing applies to price as well.)

In [7]:
# using All Clickout dataframe, but the one with the unique impressions for each session for this feature
ClickoutUniqueDF.head(1)

         user_id  ...                                             prices
13  00RL8Z82B2Z1  ...  95|66|501|112|95|100|101|72|82|56|56|143|70|25...

[1 rows x 12 columns]

Making sure that the length of each impressions list is as the same length of the prices list.

In [53]:
ImpressionsLength = ClickoutUniqueDF.impressions.apply(lambda x: x.split('|')).apply(lambda x: len(x))
PricesLength = ClickoutUniqueDF.prices.apply(lambda x: x.split('|')).apply(lambda x: len(x))
ImpressionsLength.equals(PricesLength)

True

In [6]:
SessionImpressionsDF = ClickoutUniqueDF[['session_id', 'impressions']]
SessionImpressionsDF.impressions = SessionImpressionsDF.impressions.apply(lambda x: x.split('|'))
SessionImpressionsDF.impressions.head(2)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:5208: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

13    [3400638, 1253714, 3367857, 5100540, 1088584, ...
15    [55109, 129343, 54824, 2297972, 109014, 125734...
Name: impressions, dtype: object

In [36]:
SessionImpressionsDF['ImpressionsLength'] = SessionImpressionsDF.impressions.apply(lambda x: len(x))
SessionImpressionsDF.head(1)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       session_id  ... ImpressionsLength
13  aff3928535f48  ...                25

[1 rows x 3 columns]

In [37]:
SessionsNumberToRepeat = SessionImpressionsDF.groupby('session_id', sort=False).ImpressionsLength.sum()
SessionsNumberToRepeat.head(1)

session_id
aff3928535f48    50
Name: ImpressionsLength, dtype: int64

In [58]:
SessionImpressionsDF.ImpressionsLength

13          25
15          25
115         25
121         25
176         25
            ..
13019503    25
13019508    25
13019530    25
13019534    25
13019552    25
Name: ImpressionsLength, Length: 882072, dtype: int64

This cell is taking too long, it needs to be done differently.

In [59]:
SessionsToRepeatList = SessionsNumberToRepeat.index.tolist()
NumberToRepeat = SessionsNumberToRepeat.values.tolist()

SessionsList = []
count = 0
for session in SessionImpressionsDF.session_id.values.tolist():
  i = 0
  for i in range(SessionImpressionsDF.ImpressionsLength.values.tolist()[count]):
    SessionsList.append((session, (i + 1)))
  count = count + 1

KeyboardInterrupt: ignored

In [53]:
len(SessionsList), SessionsNumberToRepeat.sum()

(20153197, 20153197)

In [54]:
SessionsList

[('aff3928535f48', 1),
 ('aff3928535f48', 2),
 ('aff3928535f48', 3),
 ('aff3928535f48', 4),
 ('aff3928535f48', 5),
 ('aff3928535f48', 6),
 ('aff3928535f48', 7),
 ('aff3928535f48', 8),
 ('aff3928535f48', 9),
 ('aff3928535f48', 10),
 ('aff3928535f48', 11),
 ('aff3928535f48', 12),
 ('aff3928535f48', 13),
 ('aff3928535f48', 14),
 ('aff3928535f48', 15),
 ('aff3928535f48', 16),
 ('aff3928535f48', 17),
 ('aff3928535f48', 18),
 ('aff3928535f48', 19),
 ('aff3928535f48', 20),
 ('aff3928535f48', 21),
 ('aff3928535f48', 22),
 ('aff3928535f48', 23),
 ('aff3928535f48', 24),
 ('aff3928535f48', 25),
 ('aff3928535f48', 26),
 ('aff3928535f48', 27),
 ('aff3928535f48', 28),
 ('aff3928535f48', 29),
 ('aff3928535f48', 30),
 ('aff3928535f48', 31),
 ('aff3928535f48', 32),
 ('aff3928535f48', 33),
 ('aff3928535f48', 34),
 ('aff3928535f48', 35),
 ('aff3928535f48', 36),
 ('aff3928535f48', 37),
 ('aff3928535f48', 38),
 ('aff3928535f48', 39),
 ('aff3928535f48', 40),
 ('aff3928535f48', 41),
 ('aff3928535f48', 42),
 ('aff3928535f48', 43),
 ('aff3928535f48', 44),
 ('aff3928535f48', 45),
 ('aff3928535f48', 46),
 ('aff3928535f48', 47),
 ('aff3928535f48', 48),
 ('aff3928535f48', 49),
 ('aff3928535f48', 50),
 ('3599a6f709eab', 1),
 ('3599a6f709eab', 2),
 ('3599a6f709eab', 3),
 ('3599a6f709eab', 4),
 ('3599a6f709eab', 5),
 ('3599a6f709eab', 6),
 ('3599a6f709eab', 7),
 ('3599a6f709eab', 8),
 ('3599a6f709eab', 9),
 ('3599a6f709eab', 10),
 ('3599a6f709eab', 11),
 ('3599a6f709eab', 12),
 ('3599a6f709eab', 13),
 ('3599a6f709eab', 14),
 ('3599a6f709eab', 15),
 ('3599a6f709eab', 16),
 ('3599a6f709eab', 17),
 ('3599a6f709eab', 18),
 ('3599a6f709eab', 19),
 ('3599a6f709eab', 20),
 ('3599a6f709eab', 21),
 ('3599a6f709eab', 22),
 ('3599a6f709eab', 23),
 ('3599a6f709eab', 24),
 ('3599a6f709eab', 25),
 ('ec139e10b9238', 1),
 ('ec139e10b9238', 2),
 ('ec139e10b9238', 3),
 ('ec139e10b9238', 4),
 ('ec139e10b9238', 5),
 ('ec139e10b9238', 6),
 ('ec139e10b9238', 7),
 ('ec139e10b9238', 8),
 ('ec139e10b9238', 9),
 ('ec139e10b9238', 10),
 ('ec139e10b9238', 11),
 ('ec139e10b9238', 12),
 ('ec139e10b9238', 13),
 ('ec139e10b9238', 14),
 ('ec139e10b9238', 15),
 ('ec139e10b9238', 16),
 ('ec139e10b9238', 17),
 ('ec139e10b9238', 18),
 ('ec139e10b9238', 19),
 ('ec139e10b9238', 20),
 ('ec139e10b9238', 21),
 ('ec139e10b9238', 22),
 ('ec139e10b9238', 23),
 ('ec139e10b9238', 24),
 ('ec139e10b9238', 25),
 ('325fafb5fa450', 1),
 ('325fafb5fa450', 2),
 ('325fafb5fa450', 3),
 ('325fafb5fa450', 4),
 ('325fafb5fa450', 5),
 ('325fafb5fa450', 6),
 ('325fafb5fa450', 7),
 ('325fafb5fa450', 8),
 ('325fafb5fa450', 9),
 ('325fafb5fa450', 10),
 ('325fafb5fa450', 11),
 ('325fafb5fa450', 12),
 ('325fafb5fa450', 13),
 ('325fafb5fa450', 14),
 ('325fafb5fa450', 15),
 ('325fafb5fa450', 16),
 ('325fafb5fa450', 17),
 ('325fafb5fa450', 18),
 ('325fafb5fa450', 19),
 ('325fafb5fa450', 20),
 ('325fafb5fa450', 21),
 ('325fafb5fa450', 22),
 ('325fafb5fa450', 23),
 ('325fafb5fa450', 24),
 ('325fafb5fa450', 25),
 ('bcc452f3350eb', 1),
 ('bcc452f3350eb', 2),
 ('bcc452f3350eb', 3),
 ('bcc452f3350eb', 4),
 ('bcc452f3350eb', 5),
 ('bcc452f3350eb', 6),
 ('bcc452f3350eb', 7),
 ('bcc452f3350eb', 8),
 ('bcc452f3350eb', 9),
 ('bcc452f3350eb', 10),
 ('bcc452f3350eb', 11),
 ('bcc452f3350eb', 12),
 ('bcc452f3350eb', 13),
 ('bcc452f3350eb', 14),
 ('bcc452f3350eb', 15),
 ('bcc452f3350eb', 16),
 ('bcc452f3350eb', 17),
 ('bcc452f3350eb', 18),
 ('bcc452f3350eb', 19),
 ('bcc452f3350eb', 20),
 ('bcc452f3350eb', 21),
 ('bcc452f3350eb', 22),
 ('bcc452f3350eb', 23),
 ('bcc452f3350eb', 24),
 ('bcc452f3350eb', 25),
 ('7157899be2839', 1),
 ('7157899be2839', 2),
 ('7157899be2839', 3),
 ('7157899be2839', 4),
 ('7157899be2839', 5),
 ('7157899be2839', 6),
 ('7157899be2839', 7),
 ('7157899be2839', 8),
 ('7157899be2839', 9),
 ('7157899be2839', 10),
 ('7157899be2839', 11),
 ('7157899be2839', 12),
 ('7157899be2839', 13),
 ('7157899be2839', 14),
 ('7157899be2839', 15),
 ('7157899be2839', 16),
 ('7157899be2839', 17),
 ('7157899be2839', 18),
 ('7157899be2839', 19),
 ('7157899be2839', 20),
 ('7157899be2839', 21),
 ('7157899be2839', 22),
 ('7157899be2839', 23),
 ('7157899be2839', 24),
 ('7157899be2839', 25),
 ('22b9deb2da8f7', 1),
 ('22b9deb2da8f7', 2),
 ('22b9deb2da8f7', 3),
 ('22b9deb2da8f7', 4),
 ('22b9deb2da8f7', 5),
 ('22b9deb2da8f7', 6),
 ('22b9deb2da8f7', 7),
 ('22b9deb2da8f7', 8),
 ('22b9deb2da8f7', 9),
 ('22b9deb2da8f7', 10),
 ('22b9deb2da8f7', 11),
 ('22b9deb2da8f7', 12),
 ('22b9deb2da8f7', 13),
 ('22b9deb2da8f7', 14),
 ('22b9deb2da8f7', 15),
 ('22b9deb2da8f7', 16),
 ('22b9deb2da8f7', 17),
 ('22b9deb2da8f7', 18),
 ('22b9deb2da8f7', 19),
 ('22b9deb2da8f7', 20),
 ('22b9deb2da8f7', 21),
 ('22b9deb2da8f7', 22),
 ('22b9deb2da8f7', 23),
 ('22b9deb2da8f7', 24),
 ('22b9deb2da8f7', 25),
 ('4c6062d7cefe4', 1),
 ('4c6062d7cefe4', 2),
 ('4c6062d7cefe4', 3),
 ('4c6062d7cefe4', 4),
 ('4c6062d7cefe4', 5),
 ('4c6062d7cefe4', 6),
 ('4c6062d7cefe4', 7),
 ('4c6062d7cefe4', 8),
 ('4c6062d7cefe4', 9),
 ('4c6062d7cefe4', 10),
 ('4c6062d7cefe4', 11),
 ('4c6062d7cefe4', 12),
 ('4c6062d7cefe4', 13),
 ('4c6062d7cefe4', 14),
 ('4c6062d7cefe4', 15),
 ('4c6062d7cefe4', 16),
 ('4c6062d7cefe4', 17),
 ('4c6062d7cefe4', 18),
 ('4c6062d7cefe4', 19),
 ('4c6062d7cefe4', 20),
 ('4c6062d7cefe4', 21),
 ('4c6062d7cefe4', 22),
 ('4c6062d7cefe4', 23),
 ('4c6062d7cefe4', 24),
 ('4c6062d7cefe4', 25),
 ('489f31ee6fca9', 1),
 ('489f31ee6fca9', 2),
 ('489f31ee6fca9', 3),
 ('489f31ee6fca9', 4),
 ('489f31ee6fca9', 5),
 ('489f31ee6fca9', 6),
 ('489f31ee6fca9', 7),
 ('489f31ee6fca9', 8),
 ('489f31ee6fca9', 9),
 ('489f31ee6fca9', 10),
 ('489f31ee6fca9', 11),
 ('489f31ee6fca9', 12),
 ('489f31ee6fca9', 13),
 ('489f31ee6fca9', 14),
 ('489f31ee6fca9', 15),
 ('489f31ee6fca9', 16),
 ('489f31ee6fca9', 17),
 ('489f31ee6fca9', 18),
 ('489f31ee6fca9', 19),
 ('489f31ee6fca9', 20),
 ('489f31ee6fca9', 21),
 ('489f31ee6fca9', 22),
 ('489f31ee6fca9', 23),
 ('489f31ee6fca9', 24),
 ('489f31ee6fca9', 25),
 ('91de23da01b00', 1),
 ('91de23da01b00', 2),
 ('91de23da01b00', 3),
 ('91de23da01b00', 4),
 ('91de23da01b00', 5),
 ('91de23da01b00', 6),
 ('91de23da01b00', 7),
 ('91de23da01b00', 8),
 ('91de23da01b00', 9),
 ('91de23da01b00', 10),
 ('91de23da01b00', 11),
 ('91de23da01b00', 12),
 ('91de23da01b00', 13),
 ('91de23da01b00', 14),
 ('91de23da01b00', 15),
 ('91de23da01b00', 16),
 ('91de23da01b00', 17),
 ('91de23da01b00', 18),
 ('91de23da01b00', 19),
 ('91de23da01b00', 20),
 ('91de23da01b00', 21),
 ('91de23da01b00', 22),
 ('91de23da01b00', 23),
 ('91de23da01b00', 24),
 ('91de23da01b00', 25),
 ('dbe408c81daf3', 1),
 ('dbe408c81daf3', 2),
 ('dbe408c81daf3', 3),
 ('dbe408c81daf3', 4),
 ('dbe408c81daf3', 5),
 ('dbe408c81daf3', 6),
 ('dbe408c81daf3', 7),
 ('dbe408c81daf3', 8),
 ('dbe408c81daf3', 9),
 ('dbe408c81daf3', 10),
 ('dbe408c81daf3', 11),
 ('dbe408c81daf3', 12),
 ('dbe408c81daf3', 13),
 ('dbe408c81daf3', 14),
 ('dbe408c81daf3', 15),
 ('dbe408c81daf3', 16),
 ('dbe408c81daf3', 17),
 ('dbe408c81daf3', 18),
 ('dbe408c81daf3', 19),
 ('dbe408c81daf3', 20),
 ('dbe408c81daf3', 21),
 ('dbe408c81daf3', 22),
 ('dbe408c81daf3', 23),
 ('dbe408c81daf3', 24),
 ('dbe408c81daf3', 25),
 ('698c0975e6ffe', 1),
 ('698c0975e6ffe', 2),
 ('698c0975e6ffe', 3),
 ('698c0975e6ffe', 4),
 ('698c0975e6ffe', 5),
 ('698c0975e6ffe', 6),
 ('698c0975e6ffe', 7),
 ('698c0975e6ffe', 8),
 ('698c0975e6ffe', 9),
 ('698c0975e6ffe', 10),
 ('698c0975e6ffe', 11),
 ('698c0975e6ffe', 12),
 ('698c0975e6ffe', 13),
 ('698c0975e6ffe', 14),
 ('698c0975e6ffe', 15),
 ('698c0975e6ffe', 16),
 ('698c0975e6ffe', 17),
 ('698c0975e6ffe', 18),
 ('698c0975e6ffe', 19),
 ('698c0975e6ffe', 20),
 ('698c0975e6ffe', 21),
 ('698c0975e6ffe', 22),
 ('698c0975e6ffe', 23),
 ('698c0975e6ffe', 24),
 ('698c0975e6ffe', 25),
 ('554392be66854', 1),
 ('554392be66854', 2),
 ('554392be66854', 3),
 ('554392be66854', 4),
 ('b1eabf1f2e155', 1),
 ('b1eabf1f2e155', 2),
 ('b1eabf1f2e155', 3),
 ('b1eabf1f2e155', 4),
 ('b1eabf1f2e155', 5),
 ('b1eabf1f2e155', 6),
 ('b1eabf1f2e155', 7),
 ('b1eabf1f2e155', 8),
 ('b1eabf1f2e155', 9),
 ('b1eabf1f2e155', 10),
 ('b1eabf1f2e155', 11),
 ('b1eabf1f2e155', 12),
 ('b1eabf1f2e155', 13),
 ('b1eabf1f2e155', 14),
 ('b1eabf1f2e155', 15),
 ('b1eabf1f2e155', 16),
 ('b1eabf1f2e155', 17),
 ('b1eabf1f2e155', 18),
 ('b1eabf1f2e155', 19),
 ('b1eabf1f2e155', 20),
 ('b1eabf1f2e155', 21),
 ('b1eabf1f2e155', 22),
 ('b1eabf1f2e155', 23),
 ('b1eabf1f2e155', 24),
 ('b1eabf1f2e155', 25),
 ('e665b2c1e8040', 1),
 ('e665b2c1e8040', 2),
 ('e665b2c1e8040', 3),
 ('e665b2c1e8040', 4),
 ('e665b2c1e8040', 5),
 ('e665b2c1e8040', 6),
 ('e665b2c1e8040', 7),
 ('e665b2c1e8040', 8),
 ('e665b2c1e8040', 9),
 ('e665b2c1e8040', 10),
 ('e665b2c1e8040', 11),
 ('e665b2c1e8040', 12),
 ('e665b2c1e8040', 13),
 ('e665b2c1e8040', 14),
 ('e665b2c1e8040', 15),
 ('e665b2c1e8040', 16),
 ('e665b2c1e8040', 17),
 ('e665b2c1e8040', 18),
 ('e665b2c1e8040', 19),
 ('e665b2c1e8040', 20),
 ('e665b2c1e8040', 21),
 ('e665b2c1e8040', 22),
 ('e665b2c1e8040', 23),
 ('e665b2c1e8040', 24),
 ('e665b2c1e8040', 25),
 ('ae1026cd27f7e', 1),
 ('ae1026cd27f7e', 2),
 ('ae1026cd27f7e', 3),
 ('ae1026cd27f7e', 4),
 ('ae1026cd27f7e', 5),
 ('ae1026cd27f7e', 6),
 ('ae1026cd27f7e', 7),
 ('ae1026cd27f7e', 8),
 ('ae1026cd27f7e', 9),
 ('ae1026cd27f7e', 10),
 ('ae1026cd27f7e', 11),
 ('ae1026cd27f7e', 12),
 ('3737c2c0740b5', 1),
 ('3737c2c0740b5', 2),
 ('3737c2c0740b5', 3),
 ('3737c2c0740b5', 4),
 ('3737c2c0740b5', 5),
 ('3737c2c0740b5', 6),
 ('3737c2c0740b5', 7),
 ('3737c2c0740b5', 8),
 ('3737c2c0740b5', 9),
 ('3737c2c0740b5', 10),
 ('3737c2c0740b5', 11),
 ('3737c2c0740b5', 12),
 ('3737c2c0740b5', 13),
 ('3737c2c0740b5', 14),
 ('3737c2c0740b5', 15),
 ('3737c2c0740b5', 16),
 ('3737c2c0740b5', 17),
 ('3737c2c0740b5', 18),
 ('3737c2c0740b5', 19),
 ('3737c2c0740b5', 20),
 ('3737c2c0740b5', 21),
 ('3737c2c0740b5', 22),
 ('3737c2c0740b5', 23),
 ('3737c2c0740b5', 24),
 ('3737c2c0740b5', 25),
 ('3737c2c0740b5', 26),
 ('3737c2c0740b5', 27),
 ('3737c2c0740b5', 28),
 ('3737c2c0740b5', 29),
 ('3737c2c0740b5', 30),
 ('3737c2c0740b5', 31),
 ('3737c2c0740b5', 32),
 ('3737c2c0740b5', 33),
 ('3737c2c0740b5', 34),
 ('3737c2c0740b5', 35),
 ('3737c2c0740b5', 36),
 ('3737c2c0740b5', 37),
 ('3737c2c0740b5', 38),
 ('3737c2c0740b5', 39),
 ('3737c2c0740b5', 40),
 ('3737c2c0740b5', 41),
 ('3737c2c0740b5', 42),
 ('3737c2c0740b5', 43),
 ('3737c2c0740b5', 44),
 ('3737c2c0740b5', 45),
 ('3737c2c0740b5', 46),
 ('3737c2c0740b5', 47),
 ('3737c2c0740b5', 48),
 ('3737c2c0740b5', 49),
 ('3737c2c0740b5', 50),
 ('3737c2c0740b5', 51),
 ('3737c2c0740b5', 52),
 ('3737c2c0740b5', 53),
 ('3737c2c0740b5', 54),
 ('3737c2c0740b5', 55),
 ('3737c2c0740b5', 56),
 ('3737c2c0740b5', 57),
 ('3737c2c0740b5', 58),
 ('3737c2c0740b5', 59),
 ('3737c2c0740b5', 60),
 ('3737c2c0740b5', 61),
 ('3737c2c0740b5', 62),
 ('3737c2c0740b5', 63),
 ('3737c2c0740b5', 64),
 ('3737c2c0740b5', 65),
 ('3737c2c0740b5', 66),
 ('3737c2c0740b5', 67),
 ('3737c2c0740b5', 68),
 ('3737c2c0740b5', 69),
 ('3737c2c0740b5', 70),
 ('3737c2c0740b5', 71),
 ('3737c2c0740b5', 72),
 ('3737c2c0740b5', 73),
 ('3737c2c0740b5', 74),
 ('3737c2c0740b5', 75),
 ('336d9a46b826f', 1),
 ('336d9a46b826f', 2),
 ('336d9a46b826f', 3),
 ('336d9a46b826f', 4),
 ('336d9a46b826f', 5),
 ('336d9a46b826f', 6),
 ('336d9a46b826f', 7),
 ('336d9a46b826f', 8),
 ('336d9a46b826f', 9),
 ('336d9a46b826f', 10),
 ('336d9a46b826f', 11),
 ('336d9a46b826f', 12),
 ('336d9a46b826f', 13),
 ('336d9a46b826f', 14),
 ('336d9a46b826f', 15),
 ('336d9a46b826f', 16),
 ('336d9a46b826f', 17),
 ('336d9a46b826f', 18),
 ('336d9a46b826f', 19),
 ('336d9a46b826f', 20),
 ('336d9a46b826f', 21),
 ('336d9a46b826f', 22),
 ('336d9a46b826f', 23),
 ('336d9a46b826f', 24),
 ('336d9a46b826f', 25),
 ('84316dcbfb8e3', 1),
 ('84316dcbfb8e3', 2),
 ('84316dcbfb8e3', 3),
 ('84316dcbfb8e3', 4),
 ('84316dcbfb8e3', 5),
 ('84316dcbfb8e3', 6),
 ('84316dcbfb8e3', 7),
 ('84316dcbfb8e3', 8),
 ('84316dcbfb8e3', 9),
 ('84316dcbfb8e3', 10),
 ('84316dcbfb8e3', 11),
 ('84316dcbfb8e3', 12),
 ('84316dcbfb8e3', 13),
 ('84316dcbfb8e3', 14),
 ('84316dcbfb8e3', 15),
 ('84316dcbfb8e3', 16),
 ('84316dcbfb8e3', 17),
 ('84316dcbfb8e3', 18),
 ('84316dcbfb8e3', 19),
 ('84316dcbfb8e3', 20),
 ('84316dcbfb8e3', 21),
 ('84316dcbfb8e3', 22),
 ('84316dcbfb8e3', 23),
 ('84316dcbfb8e3', 24),
 ('84316dcbfb8e3', 25),
 ('af793494b5f84', 1),
 ('af793494b5f84', 2),
 ('af793494b5f84', 3),
 ('af793494b5f84', 4),
 ('af793494b5f84', 5),
 ('af793494b5f84', 6),
 ('af793494b5f84', 7),
 ('af793494b5f84', 8),
 ('af793494b5f84', 9),
 ('af793494b5f84', 10),
 ('af793494b5f84', 11),
 ('af793494b5f84', 12),
 ('af793494b5f84', 13),
 ('af793494b5f84', 14),
 ('af793494b5f84', 15),
 ('af793494b5f84', 16),
 ('af793494b5f84', 17),
 ('af793494b5f84', 18),
 ('af793494b5f84', 19),
 ('af793494b5f84', 20),
 ('af793494b5f84', 21),
 ('af793494b5f84', 22),
 ('af793494b5f84', 23),
 ('af793494b5f84', 24),
 ('af793494b5f84', 25),
 ('2423aea8cde50', 1),
 ('2423aea8cde50', 2),
 ('2423aea8cde50', 3),
 ('2423aea8cde50', 4),
 ('2423aea8cde50', 5),
 ('2423aea8cde50', 6),
 ('2423aea8cde50', 7),
 ('2423aea8cde50', 8),
 ('2423aea8cde50', 9),
 ('2423aea8cde50', 10),
 ('2423aea8cde50', 11),
 ('2423aea8cde50', 12),
 ('2423aea8cde50', 13),
 ('2423aea8cde50', 14),
 ('2423aea8cde50', 15),
 ('2423aea8cde50', 16),
 ('2423aea8cde50', 17),
 ('2423aea8cde50', 18),
 ('2423aea8cde50', 19),
 ('2423aea8cde50', 20),
 ('2423aea8cde50', 21),
 ('2423aea8cde50', 22),
 ('2423aea8cde50', 23),
 ('2423aea8cde50', 24),
 ('2423aea8cde50', 25),
 ('2423aea8cde50', 26),
 ('2423aea8cde50', 27),
 ('2423aea8cde50', 28),
 ('2423aea8cde50', 29),
 ('2423aea8cde50', 30),
 ('2423aea8cde50', 31),
 ('2423aea8cde50', 32),
 ('2423aea8cde50', 33),
 ('2423aea8cde50', 34),
 ('2423aea8cde50', 35),
 ('2423aea8cde50', 36),
 ('2423aea8cde50', 37),
 ('2423aea8cde50', 38),
 ('2423aea8cde50', 39),
 ('2423aea8cde50', 40),
 ('2423aea8cde50', 41),
 ('2423aea8cde50', 42),
 ('2423aea8cde50', 43),
 ('2423aea8cde50', 44),
 ('2423aea8cde50', 45),
 ('2423aea8cde50', 46),
 ('2423aea8cde50', 47),
 ('2423aea8cde50', 48),
 ('2423aea8cde50', 49),
 ('2423aea8cde50', 50),
 ('641a409c90fac', 1),
 ('641a409c90fac', 2),
 ('641a409c90fac', 3),
 ('641a409c90fac', 4),
 ('641a409c90fac', 5),
 ('641a409c90fac', 6),
 ('641a409c90fac', 7),
 ('641a409c90fac', 8),
 ('641a409c90fac', 9),
 ('641a409c90fac', 10),
 ('641a409c90fac', 11),
 ('641a409c90fac', 12),
 ('641a409c90fac', 13),
 ('641a409c90fac', 14),
 ('641a409c90fac', 15),
 ('641a409c90fac', 16),
 ('641a409c90fac', 17),
 ('641a409c90fac', 18),
 ('641a409c90fac', 19),
 ('641a409c90fac', 20),
 ('641a409c90fac', 21),
 ('641a409c90fac', 22),
 ('641a409c90fac', 23),
 ('641a409c90fac', 24),
 ('641a409c90fac', 25),
 ('641a409c90fac', 26),
 ('641a409c90fac', 27),
 ('641a409c90fac', 28),
 ('641a409c90fac', 29),
 ('641a409c90fac', 30),
 ('641a409c90fac', 31),
 ('641a409c90fac', 32),
 ('641a409c90fac', 33),
 ('641a409c90fac', 34),
 ('641a409c90fac', 35),
 ('641a409c90fac', 36),
 ('641a409c90fac', 37),
 ('641a409c90fac', 38),
 ('641a409c90fac', 39),
 ('641a409c90fac', 40),
 ('641a409c90fac', 41),
 ('641a409c90fac', 42),
 ('641a409c90fac', 43),
 ('641a409c90fac', 44),
 ('641a409c90fac', 45),
 ('641a409c90fac', 46),
 ('641a409c90fac', 47),
 ('641a409c90fac', 48),
 ('641a409c90fac', 49),
 ('641a409c90fac', 50),
 ('a4927e71aa80e', 1),
 ('a4927e71aa80e', 2),
 ('a4927e71aa80e', 3),
 ('a4927e71aa80e', 4),
 ('a4927e71aa80e', 5),
 ('a4927e71aa80e', 6),
 ('a4927e71aa80e', 7),
 ('a4927e71aa80e', 8),
 ('a4927e71aa80e', 9),
 ('a4927e71aa80e', 10),
 ('a4927e71aa80e', 11),
 ('a4927e71aa80e', 12),
 ('a4927e71aa80e', 13),
 ('a4927e71aa80e', 14),
 ('a4927e71aa80e', 15),
 ('a4927e71aa80e', 16),
 ('a4927e71aa80e', 17),
 ('a4927e71aa80e', 18),
 ('a4927e71aa80e', 19),
 ('a4927e71aa80e', 20),
 ('a4927e71aa80e', 21),
 ('a4927e71aa80e', 22),
 ('a4927e71aa80e', 23),
 ('a4927e71aa80e', 24),
 ('a4927e71aa80e', 25),
 ('571988c5366eb', 1),
 ('571988c5366eb', 2),
 ('571988c5366eb', 3),
 ('571988c5366eb', 4),
 ('571988c5366eb', 5),
 ('571988c5366eb', 6),
 ('571988c5366eb', 7),
 ('571988c5366eb', 8),
 ('571988c5366eb', 9),
 ('571988c5366eb', 10),
 ('571988c5366eb', 11),
 ('571988c5366eb', 12),
 ('571988c5366eb', 13),
 ('571988c5366eb', 14),
 ('571988c5366eb', 15),
 ('571988c5366eb', 16),
 ('571988c5366eb', 17),
 ('571988c5366eb', 18),
 ('571988c5366eb', 19),
 ('571988c5366eb', 20),
 ('571988c5366eb', 21),
 ('571988c5366eb', 22),
 ('571988c5366eb', 23),
 ('571988c5366eb', 24),
 ('571988c5366eb', 25),
 ('7ddbbad580025', 1),
 ('7ddbbad580025', 2),
 ('7ddbbad580025', 3),
 ('7ddbbad580025', 4),
 ('7ddbbad580025', 5),
 ('7ddbbad580025', 6),
 ('7ddbbad580025', 7),
 ('7ddbbad580025', 8),
 ('7ddbbad580025', 9),
 ('7ddbbad580025', 10),
 ('7ddbbad580025', 11),
 ('7ddbbad580025', 12),
 ('7ddbbad580025', 13),
 ('7ddbbad580025', 14),
 ('7ddbbad580025', 15),
 ('7ddbbad580025', 16),
 ('7ddbbad580025', 17),
 ('7ddbbad580025', 18),
 ('7ddbbad580025', 19),
 ('7ddbbad580025', 20),
 ('7ddbbad580025', 21),
 ('7ddbbad580025', 22),
 ('7ddbbad580025', 23),
 ('7ddbbad580025', 24),
 ('7ddbbad580025', 25),
 ('9eb4da70d5ccd', 1),
 ('9eb4da70d5ccd', 2),
 ('9eb4da70d5ccd', 3),
 ('9eb4da70d5ccd', 4),
 ('9eb4da70d5ccd', 5),
 ('9eb4da70d5ccd', 6),
 ('9eb4da70d5ccd', 7),
 ('9eb4da70d5ccd', 8),
 ('9eb4da70d5ccd', 9),
 ('9eb4da70d5ccd', 10),
 ('9eb4da70d5ccd', 11),
 ('9eb4da70d5ccd', 12),
 ('9eb4da70d5ccd', 13),
 ('9eb4da70d5ccd', 14),
 ('9eb4da70d5ccd', 15),
 ('9eb4da70d5ccd', 16),
 ('9eb4da70d5ccd', 17),
 ('9eb4da70d5ccd', 18),
 ('9eb4da70d5ccd', 19),
 ('9eb4da70d5ccd', 20),
 ('9eb4da70d5ccd', 21),
 ('9eb4da70d5ccd', 22),
 ('9eb4da70d5ccd', 23),
 ('9eb4da70d5ccd', 24),
 ('9eb4da70d5ccd', 25),
 ('7643893620070', 1),
 ('7643893620070', 2),
 ('7643893620070', 3),
 ('7643893620070', 4),
 ('7643893620070', 5),
 ('7643893620070', 6),
 ('7643893620070', 7),
 ('7643893620070', 8),
 ('7643893620070', 9),
 ('7643893620070', 10),
 ('7643893620070', 11),
 ('7643893620070', 12),
 ('7643893620070', 13),
 ('7643893620070', 14),
 ('7643893620070', 15),
 ('7643893620070', 16),
 ('7643893620070', 17),
 ('7643893620070', 18),
 ('7643893620070', 19),
 ('7643893620070', 20),
 ('7643893620070', 21),
 ('7643893620070', 22),
 ('7643893620070', 23),
 ('7643893620070', 24),
 ('7643893620070', 25),
 ('7643893620070', 26),
 ('7643893620070', 27),
 ('7643893620070', 28),
 ('7643893620070', 29),
 ('7643893620070', 30),
 ('7643893620070', 31),
 ('7643893620070', 32),
 ('0c086494b8b9b', 1),
 ('0c086494b8b9b', 2),
 ('0c086494b8b9b', 3),
 ('0c086494b8b9b', 4),
 ('0c086494b8b9b', 5),
 ('0c086494b8b9b', 6),
 ('0c086494b8b9b', 7),
 ('0c086494b8b9b', 8),
 ('0c086494b8b9b', 9),
 ('0c086494b8b9b', 10),
 ('0c086494b8b9b', 11),
 ('0c086494b8b9b', 12),
 ('0c086494b8b9b', 13),
 ('0c086494b8b9b', 14),
 ('0c086494b8b9b', 15),
 ('0c086494b8b9b', 16),
 ('0c086494b8b9b', 17),
 ('0c086494b8b9b', 18),
 ('0c086494b8b9b', 19),
 ('0c086494b8b9b', 20),
 ('0c086494b8b9b', 21),
 ('0c086494b8b9b', 22),
 ('0c086494b8b9b', 23),
 ('0c086494b8b9b', 24),
 ('0c086494b8b9b', 25),
 ('6d809cf3198b1', 1),
 ('6d809cf3198b1', 2),
 ('6d809cf3198b1', 3),
 ('6d809cf3198b1', 4),
 ('6d809cf3198b1', 5),
 ('6d809cf3198b1', 6),
 ('6d809cf3198b1', 7),
 ('6d809cf3198b1', 8),
 ('6d809cf3198b1', 9),
 ('6d809cf3198b1', 10),
 ('6d809cf3198b1', 11),
 ('6d809cf3198b1', 12),
 ('6d809cf3198b1', 13),
 ('6d809cf3198b1', 14),
 ('6d809cf3198b1', 15),
 ('6d809cf3198b1', 16),
 ('6d809cf3198b1', 17),
 ('6d809cf3198b1', 18),
 ('6d809cf3198b1', 19),
 ('6d809cf3198b1', 20),
 ('6d809cf3198b1', 21),
 ('6d809cf3198b1', 22),
 ('6d809cf3198b1', 23),
 ('6d809cf3198b1', 24),
 ('6d809cf3198b1', 25),
 ('c0cdade1ed014', 1),
 ('c0cdade1ed014', 2),
 ('c0cdade1ed014', 3),
 ('c0cdade1ed014', 4),
 ('c0cdade1ed014', 5),
 ('c0cdade1ed014', 6),
 ('c0cdade1ed014', 7),
 ('c0cdade1ed014', 8),
 ('c0cdade1ed014', 9),
 ('c0cdade1ed014', 10),
 ('c0cdade1ed014', 11),
 ('c0cdade1ed014', 12),
 ('c0cdade1ed014', 13),
 ('c0cdade1ed014', 14),
 ('c0cdade1ed014', 15),
 ('c0cdade1ed014', 16),
 ('c0cdade1ed014', 17),
 ('c0cdade1ed014', 18),
 ('c0cdade1ed014', 19),
 ('c0cdade1ed014', 20),
 ('c0cdade1ed014', 21),

In [32]:
from collections import Counter

CounterSessionSeries = pd.DataFrame.from_dict(Counter(SessionsList), orient='index').reset_index()\
                                   .rename(columns={'index':'session_id', 0:'NumberToRepeat'})\
                                   .groupby('session_id', sort=False).NumberToRepeat.sum()

#checking if the two series are equal
SessionsNumberToRepeat.equals(CounterSessionSeries)

True

Now that we have SessionsList of all sessions exploded, it's time to flatten out all the items in impressions.

In [0]:
ItemsListOfLists = SessionImpressionsDF.impressions.values.tolist()
ItemsList = []
for sublist in ItemsListOfLists:
    for item in sublist:
        ItemsList.append(item)

In [0]:
SessionsList = []
for session, length in SessionsNumberToRepeat:
    for

In [0]:
t1 = datetime.now()
SessionItem = pd.DataFrame({'session_id':SessionImpressionsDF.session_id.repeat(SessionImpressionsDF.impressions.str.len()),
                            'item_id':SessionImpressionsDF.impressions.sum()})
t2 = datetime.now()
print(t2 - t1)

In [0]:
SessionItem.to_csv('SessionItem.csv')

In [0]:
Flatten out the prices list

In [0]:
pd.DataFrame({'session_id':ClickoutUniqueDF[['session_id', 'impressions']].impressions.apply(lambda x: x.split('|'))

13          [3400638, 1253714, 3367857, 5100540, 1088584, ...
15          [55109, 129343, 54824, 2297972, 109014, 125734...
115         [2795374, 5582964, 1088390, 2781070, 1258068, ...
121         [12693, 46363, 81657, 18448, 47687, 152913, 18...
176         [1306936, 56482, 2842358, 6881276, 65685, 6325...
180         [1258184, 3866722, 8929970, 2315702, 116619, 1...
181         [2349076, 2552514, 7159866, 3898458, 1846017, ...
184         [6721, 6724, 40109, 147227, 80983, 6719, 40718...
188         [22953, 22951, 22947, 22949, 8774118, 45527, 8...
196         [129881, 36161, 36249, 464421, 302607, 36401, ...
230         [8561, 8564, 8568, 8586, 8588, 102080, 8613, 5...
236         [2603858, 1765201, 1844107, 99445, 99438, 2219...
237         [921237, 147262, 42194, 9051714, 42109, 42125,...
240                      [2035675, 4095738, 4933410, 9167996]
260         [104499, 104710, 104724, 164677, 960133, 58165...
264         [9172186, 6816668, 4497388, 1827505, 2066390, ...
280         [47767, 959737, 3191226, 1362528, 1950827, 150...
281         [43007, 42365, 42884, 349051, 489031, 488961, ...
284         [42365, 42407, 42884, 42964, 43007, 349026, 34...
312         [43007, 42884, 932627, 3496252, 488961, 42365,...
429         [1045290, 3135752, 1372961, 1369024, 3384308, ...
452         [9164598, 1400686, 2216204, 2817576, 4775794, ...
471         [69086, 8533, 925367, 58949, 61049, 8581, 8517...
475         [8621, 77124, 8624, 2851635, 488501, 1810141, ...
479         [8602, 8568, 8621, 8561, 57049, 8564, 8586, 85...
523         [2303306, 4041114, 5830856, 111534, 109353, 57...
526         [5016850, 2068758, 1771981, 2303306, 2733700, ...
534         [1236209, 131152, 1322948, 7500, 439106, 7499,...
548         [327111, 2217612, 492491, 505751, 5101488, 206...
577         [6924590, 43910, 101019, 44160, 44872, 44350, ...
                                  ...
13019248    [86359, 4573624, 51479, 7818446, 9726252, 1034...
13019249    [811761, 4794432, 2893183, 2932846, 2261580, 7...
13019251    [4834976, 97645, 1265311, 4695574, 4245112, 12...
13019304    [1265311, 4834976, 5443562, 38940, 4821722, 39...
13019307    [2298560, 45471, 45152, 4906236, 925345, 93160...
13019308    [80170, 5952196, 1570171, 4050638, 1965785, 20...
13019311    [1490755, 1137717, 1488093, 9310, 15927, 67239...
13019312    [103600, 2150816, 103555, 2111996, 980293, 103...
13019315    [3875176, 40779, 7348344, 40719, 755331, 10948...
13019328    [95794, 109339, 3148916, 97505, 104706, 434201...
13019329    [95794, 109339, 3148916, 2924213, 1668389, 104...
13019340    [1108295, 6623552, 1236111, 34550, 34556, 3455...
13019344    [1398634, 10907042, 10218812, 10276592, 101608...
13019352    [54859, 1182740, 55077, 105079, 1320172, 35051...
13019362    [3505194, 1320172, 55134, 8114588, 14848, 5494...
13019370    [54878, 54884, 54939, 2174602, 4646574, 450601...
13019389    [8312, 2767604, 7345350, 4341420, 8317, 8320, ...
13019396    [693841, 2402030, 8153130, 6276246, 3755330, 3...
13019426    [2199498, 2258162, 1826617, 1771183, 1771251, ...
13019428    [1710093, 1819803, 894301, 155829, 429456, 253...
13019483    [1700901, 6675008, 5681204, 7012304, 8916, 273...
13019484    [8898, 5742368, 9226924, 897635, 3217130, 8906...
13019485    [2713516, 203851, 203861, 203951, 320736, 3207...
13019490    [996355, 191826, 40377, 201066, 951795, 914561...
13019500    [3137008, 74152, 3741160, 77251, 3478738, 6356...
13019503    [356281, 66787, 59205, 1390544, 73104, 4944066...
13019508    [3133696, 50220, 207081, 50584, 48487, 82196, ...
13019530    [3811156, 2337580, 8787688, 9920906, 1553743, ...
13019534    [8640, 8816, 8791, 2298566, 1811137, 8708, 674...
13019552    [6617798, 1263420, 9567886, 1161323, 149768, 1...
Name: impressions, Length: 882072, dtype: object

## Item's Average Price Final Clickout
The purpose of this feature is to get item's average price accross the train set.

**Unkown cells

In [0]:
#loading train set
ReferenceTrain = pd.read_csv('/content/drive/My Drive/Trivago/Clean Dataset/train.csv')
ReferenceTrain = ReferenceTrain.drop(columns='Unnamed: 0')

#converting words values in referenc into NaN
ReferenceTrain.reference = ReferenceTrain.reference.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna().astype(int).apply(lambda x: str(x))

#dropping NaN in reference
ReferenceTrain = ReferenceTrain.drop(ReferenceTrain[ReferenceTrain.reference.isna()].index.tolist())

#what I meant by the previous step
train.reference, ReferenceTrain.reference

In [0]:
ReferenceTimeSpent = (ReferenceTrain.groupby(['session_id', 'reference']).timestamp.max() 
                      - ReferenceTrain.groupby(['session_id', 'reference']).timestamp.min())
ReferenceTimeSpent

In [0]:
ReferenceTrain.to_csv('train_ref.csv')                  #DO NOT RUN BEFORE INVESTIGATING FOR THE BEST PRACTICES
!cp train_ref.csv '/content/drive/My Drive/Trivago/Clean Dataset/'

##Feature Engineering

###Items Interacted With & Number of Interactions

Taking a sample of the training set to perform trials

In [0]:
trainlet = train.iloc[0:10000]

#getting session_id with no clickouts
session_idNoClickouts = list(set(trainlet.session_id.unique()) - set(trainlet[trainlet.action_type == 'clickout item'].session_id.unique()))

#dropping sessions with no clickouts
trainlet = trainlet[~trainlet.session_id.isin(session_idNoClickouts)].drop(columns='Unnamed: 0')

#will be working on a grouped by sample, having the count of steps for each reference got interacted with
trainlet1 = trainlet.groupby(['session_id', 'reference'], sort=False).step.count().to_frame()

#converting an session_id as index into a column
trainlet1.reset_index(level=0, inplace=True)

#converting an reference as index into a column
trainlet1.reset_index(level=0, inplace=True)

#changing order of columns
trainlet1 = trainlet1[['session_id', 'reference','step']]

#takng a look
trainlet1.reference.head(10)

In [0]:
#converting alphabetic values in reference attribute into NaN by converting all values into numeric, then again converting values into string
trainlet1.reference = trainlet1.reference.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna().astype(int).apply(lambda x: str(x))

#taking a look
trainlet1.reference.head(10)

In [0]:
#for the sake of comparison creating another version of trainlet by repeating the previous steps
trainlet0 = trainlet.groupby(['session_id', 'reference'], sort=False).step.count().to_frame()
trainlet0.reset_index(level=0, inplace=True)
trainlet0.reset_index(level=0, inplace=True)
trainlet0 = trainlet0[['session_id', 'reference','step']]

#taking a look
trainlet0

In [0]:
#changing the name of attribute step into NumberOfInteractions
trainlet0 = trainlet0.rename(columns = {'step':'NumberOfInteractions'})
trainlet1 = trainlet1.rename(columns = {'step':'NumberOfInteractions'})

#taking a look
trainlet1

In [0]:
#for future use before dropping the NaN values, getting the indeces of the word values in reference attribute
#getting the index of words values in reference attribute
WordsInReferenceIndex = list(pd.isnull(trainlet1).any(1).nonzero())[0].tolist()

#getting reference with words dataframe
ReferenceWordsDF = trainlet0.iloc[WordsInReferenceIndex, :]  #for future**

In [0]:
#dropping NaN values(rows)
trainlet1 = trainlet1.dropna()

#taking a look
trainlet1

In [0]:
#getting reference and Number of interactions lists
InteractedWithItems = trainlet1.groupby('session_id', sort=False)['reference'].apply(list)
NumberOfInteractions = trainlet1.groupby('session_id', sort=False)['NumberOfInteractions'].apply(list)

#taking a look
InteractedWithItems, NumberOfInteractions

In [0]:
#converting series into lists
InteractedWithItems = InteractedWithItems.tolist()
NumberOfInteractions = NumberOfInteractions.tolist()

Adding the two attributes to trainlet

In [0]:
#getting a list of indeces InteractedWithItems and NumberOfInteractions should be left joined to
FinalClickoutIndex = trainlet[trainlet.action_type=='clickout item'].groupby('session_id').tail(1).index.tolist()

#creating InteractedWithItems dataframe
InteractedWithItemsDF = pd.DataFrame({'FinalClickoutIndex':FinalClickoutIndex, 'InteractedWitItems':InteractedWithItems,
                                      'NumberOfInteractions':NumberOfInteractions}).set_index('FinalClickoutIndex')

#left join on dataset
trainlet = trainlet.join(InteractedWithItemsDF)
trainlet

###Time Spent

Creating a time spent attribute for each reference within a session.

In [0]:
#This should be a seperate function

#getting session_id with no clickouts
session_idNoClickouts = list(set(trainlet.session_id.unique()) - set(trainlet[trainlet.action_type == 'clickout item'].session_id.unique()))

#dropping sessions with no clickouts
trainlet = trainlet[~trainlet.session_id.isin(session_idNoClickouts)].drop(columns='Unnamed: 0')

#obtaining the seconds spent on a reference by subtracting the time started viewing the item till the time of last interaction with the item
time_spent = trainlet.groupby(['session_id', 'reference'], sort=False).timestamp.apply(lambda x:(x.max() - x.min())).to_frame()

#converting an session_id as index into a column
time_spent.reset_index(level=0, inplace=True)

#converting an reference as index into a column
time_spent.reset_index(level=0, inplace=True)

#changing order of columns
time_spent = time_spent[['session_id', 'reference','timestamp']]

#changing the timestamp into SecondsSpent
time_spent = time_spent.rename(columns = {'timestamp':'SecondsSpent'})

#converting alphabetic values in reference attribute into NaN by converting all values into numeric, then again converting values into string
time_spent.reference = time_spent.reference.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna().astype(int).apply(lambda x: str(x))

#dropping NaN values(rows)
time_spent = time_spent.dropna()

#getting time spent of interactions lists
SecondsSpent = time_spent.groupby('session_id', sort=False)['SecondsSpent'].apply(list)

#converting into list
SecondsSpent = SecondsSpent.tolist()

#getting a list of indeces SecondsSpent to be left joined
FinalClickoutIndex = trainlet[trainlet.action_type=='clickout item'].groupby('session_id').tail(1).index.tolist()

#creating Seconds dataframe
SecondsSpentDF = pd.DataFrame({'FinalClickoutIndex':FinalClickoutIndex, 'SecondsSpent':SecondsSpent}).set_index('FinalClickoutIndex')

#left join on dataset
trainlet = trainlet.join(SecondsSpentDF)
trainlet

In [0]:
time_spent.groupby('session_id', sort=False)['SecondsSpent'].apply(list)

In [0]:
SecondsSpent = time_spent.groupby('session_id', sort=False)['SecondsSpent'].apply(list)

In [0]:
#creating a function
def SecondsSpent(dataset):
  #getting session_id with no clickouts
  session_idNoClickouts = list(set(dataset.session_id.unique()) - set(dataset[dataset.action_type == 'clickout item'].session_id.unique()))

  #dropping sessions with no clickouts
  dataset = dataset[~dataset.session_id.isin(session_idNoClickouts)].drop(columns='Unnamed: 0')

  #obtaining the seconds spent on a reference by subtracting the time started viewing the item till the time of last interaction with the item
  time_spent = dataset.groupby(['session_id', 'reference'], sort=False).timestamp.apply(lambda x:(x.max() - x.min())).to_frame()

  #converting an session_id as index into a column
  time_spent.reset_index(level=0, inplace=True)

  #converting an reference as index into a column
  time_spent.reset_index(level=0, inplace=True)

  #changing order of columns
  time_spent = time_spent[['session_id', 'reference','timestamp']]

  #changing the timestamp into SecondsSpent
  time_spent = time_spent.rename(columns = {'timestamp':'SecondsSpent'})

  #converting alphabetic values in reference attribute into NaN by converting all values into numeric, then again converting values into string
  time_spent.reference = time_spent.reference.apply(lambda x: pd.to_numeric(x, errors='coerce')).dropna().astype(int).apply(lambda x: str(x))

  #dropping NaN values(rows)
  time_spent = time_spent.dropna()

  #getting time spent of interactions lists
  SecondsSpent = time_spent.groupby('session_id', sort=False)['SecondsSpent'].apply(list)

  #converting into list
  SecondsSpent = SecondsSpent.tolist()

  #getting a list of indeces SecondsSpent to be left joined
  FinalClickoutIndex = dataset[dataset.action_type=='clickout item'].groupby('session_id').tail(1).index.tolist()

  #creating Seconds dataframe
  SecondsSpentDF = pd.DataFrame({'FinalClickoutIndex':FinalClickoutIndex, 'SecondsSpent':SecondsSpent}).set_index('FinalClickoutIndex')

  #left join on dataset
  dataset = dataset.join(SecondsSpentDF)
return dataset

In [0]:
trainlet2 = train.iloc[0:10000]
trainlet2.head()

In [0]:
SecondsSpent(trainlet2)

In [0]:
pd.DataFrame({'FinalClickoutIndex':FinalClickoutIndex, 'SecondsSpent':SecondsSpent}).set_index('FinalClickoutIndex')

In [0]:
trainlet[trainlet.action_type=='clickout item'].groupby('session_id').tail(1).index.tolist()

In [0]:
#dropping NaN values(rows)
trainlet1 = trainlet1.dropna()

#taking a look
trainlet1

In [0]:
#getting a list of values of time spent on each reference in a session
time_spent_values = time_spent.values

#getting the index of the time_spent_values in dataset
index = trainlet.groupby(['session_id', 'reference'], sort=False).tail(1).index

#creating a dataframe for a left join on train set
time_spent_df = pd.DataFrame({'index':index, 'seconds_spent':time_spent_values})
time_spent_df.head(2)

In [0]:
#making the index column as the index for dataframe
time_spent_df = time_spent_df.set_index('index')

#left join to train set on index
train = train.join(time_spent_df)
train.head(15)

In [0]:
#exporting dataframe to Google drive  DO NOT RUN THIS CELL UNLESS MODIFIED
train.to_csv('train.csv')

In [0]:
#loading file                         DO NOT RUN THIS CELL UNLESS MODIFIED (SEARCH FOR BEST PRACTICES IN THIS CASE)   
train = pd.read_csv('/content/drive/My Drive/Trivago/Clean Dataset/train.csv')
train.head(15)

###Price

In [0]:
Taking a session as an example, if there are three unique references. If we had the ones that have the same impressions which are the first two, and we get a table out of the impressions and prices, we will find that they have the same price exactly.
By proceeding with the KNN on this table(features can later on be added, and analysis on how different properties matter), we can have a list of 5 items at least(which are the most important) and go from there.

In [0]:
len(train[train.session_id == 'aff3928535f48'][train.action_type == 'clickout item'].tail(1).impressions.values[0].split('|'))

In [0]:
items = train[train.session_id == 'aff3928535f48'][train.action_type == 'clickout item'].tail(1).impressions.values[0].split('|')

In [0]:
all_interacted_with_items = train[train.session_id == 'aff3928535f48'].reference.unique().tolist()
interacted_with_items = []
interacted_with_items_prices = []
for item in all_interacted_with_items:
  for i in range(len(impression)):
    if item == impression[i]:
        interacted_with_items.append(item)
        print(item)
        interacted_with_items_prices.append(price[i])
        print(price[i])

In [0]:
for item in all_interacted_with_items:
  for i in range(len(impression)):
    if item == impression[i]:
      print(item)

In [0]:
all_interacted_with_items

In [0]:
def impression_price(session_id):               #the isssue with this function is that ignores the first clickouts
                                                #(there are valuable infromation that can be extracted)
  try:                                          #some of the functions don't apply on the some sessions
    impression = train[train.session_id == session_id][train.action_type == 'clickout item'].tail(1).impressions.values[0].split('|')
    price = train[train.session_id == session_id][train.action_type == 'clickout item'].tail(1).prices.values[0].split('|')
    price = list(map(int, price))               #converting list of strings into integers
    clickout_item = train[train.session_id == session_id][train.action_type == 'clickout item'].tail(1).reference.values[0]
    all_interacted_with_items = train[train.session_id == session_id].reference.unique().tolist()
    for i in range(len(impression)):            #getting the clickout item
      if clickout_item == impression[i]:
        rank = i
    interacted_with_items = []
    interacted_with_items_prices = []
    for item in all_interacted_with_items:      #getting interacted with items
      for i in range(len(impression)):
        if item == impression[i]:
          interacted_with_items.append(item)
          interacted_with_items_prices.append(price[i])
    plt.figure(figsize=(10,8))
    plt.title('Impressions and Prices', fontsize=30)
    plt.xlabel('Impressions', fontsize=20)
    plt.ylabel('Price', fontsize=20)
    plt.xticks(rotation=90)
    plt.plot(impression, price, 'o')
    plt.plot(interacted_with_items, interacted_with_items_prices, 'o', color='red')
    plt.plot(clickout_item, price[rank] , 'o', color='black')
  except:
    pass

listOfSessions = random.choices(train.session_id.unique(), k=10)
for session_id in listOfSessions:
  impression_price(session_id)

TRY \ to have a the code running normally in a well organized shape

In [0]:
listOfSessions = train.session_id.unique()[0:100]
for session_id in listOfSessions:
  impression_price(session_id)

Impressions shown on the graphs are put in a order of the rank provided by Trivago last list. After taking a quick look at the graphs (sample), I can see a pattern of having the black dot (clickout item) somewhere close to the red dots, at least not very far away. 
I'll need to validate that the features prices and ranks play an important role of user choice eventually.